*.retry
*.tar
*.tar.bz2
*.tgz
*.pyc
.DS_Store/
.github/
.vscode/
.git
.idea/

# ===== mian =====
hosts
hosts.yml
all.yml
admin.conf
controller.yml
registry.yml
registry-playbook/file/source/
cluster-*
!cluster-template
