endpoint: {{ .kubernetes.Inherent.endpoint }}
registry_endpoint: {{ .harbor.Inherent.endpoint }}
registry_user: {{ .harbor.Inherent.user }}
registry_password: {{ .harbor.Inherent.password }}
registry_project: library
add_worker_node_only: {{ .kubernetes.Property.AddWorkerNodesOnly }}
resource_reserved: {{ .kubernetes.Inherent.resource_reserved }}

{{ if .etcd.Hosts -}}
etcd_ips:
{{ range $idx, $v := .etcd.Hosts.self -}}
- name: etcd{{ $idx }}
  ip: {{ $v.IP }}
{{ end }}
{{- end }}