wise2c_seed_host: wise2c-seed
registry: {{ .registry.Inherent.endpoint }}
format_hostname: {{ .docker.Property.format_hostname }}

support_ipvs: {{ .kubernetes.Property.ipvs }}
support_kubecmd: {{ .kubernetes.Property.kubecmd }}
endpoint: {{ .kubernetes.Inherent.endpoint }}
token: 904250.ab14566918c0703b
registry_endpoint: {{ .registry.Inherent.endpoint }}
registry_user: {{ .registry.Inherent.user }}
registry_password: {{ .registry.Inherent.password }}
registry_project: library


