[hosts]
{{ range $v := .AllHosts -}}
{{ $v.IP }} hostname={{ $v.HostName }} role=node
{{ end }}

[master]
{{ range $v := .kubernetes.Hosts.master -}}
{{ $v.IP }} hostname={{ $v.HostName }} role=master
{{ end }}

[worker]
{{ range $v := .workernode.Hosts.self -}}
{{ $v.IP }} hostname={{ $v.HostName }} role=worker
{{ end }}
